body{
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    font-family: 'Sarabun', sans-serif;
    margin: 0;
    padding: 0;
}
section{
    text-align: center;
    
    
}
.cover-img{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(to left, rgba(9, 157, 243, 0.87), #3a4098ee),url('images/bg-home.jpg');
    width: 100%;
    background-size: cover;
    color: white;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.head-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-text h4{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 7px;
    line-height: 19px;
}
.head-text h1{
    font-size: 46px;
    font-weight: 600;
    line-height: 64px;
}
.head-text p{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}
.head-text .far{
    font-size: 64px;
    color: aqua;
    line-height: 80px;
    opacity: 50%;
    cursor: pointer;
}
.head-text .far:hover{
    opacity: 100%;
}
.sponsar{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
}
.ser-details{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
#arti-ser{
    margin-left: 40px;
    padding-left: 50px;
    text-align: left;
    align-self: center;
    line-height: normal;

}
#arti-ser h2{
    font-size: 32px;

}
#arti-ser p{
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 20px;
    color: grey;
}
.btn{
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(14, 151, 151);
    border: none;
    color: #fff;
    border-radius: 5px;
}
#spaisel-text p{
    font-size: 16px;
    font-weight: 600;
    color: grey;
    
}
#spaisel-text .fas{
    font-size: 10px;
    margin-right: 10px;
    color: rgb(14, 151, 151);
}
.ser-details img{
    width: 100%;
}

#our-ser h1{
   
    font-size: 36px;
}
#our-ser hr{
    border: 1px solid rgb(14, 151, 151);
    width: 50px;
}
#ser-p{
    font-size: 16px;
    font-weight: 600;
    color: gray;
}