body{
    width: 100%;
    height: 100px;
    font-family: 'Sarabun', sans-serif;
}
section{
    text-align: center;
    
    
}
.cover-img{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(to left, rgba(9, 157, 243, 0.87), #3a4098ee),url('images/bg-home.jpg');
    width: 100%;
    background-size: cover;
    color: white;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.head-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-text h4{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 7px;
    line-height: 19px;
}
.head-text h1{
    font-size: 46px;
    font-weight: 600;
    line-height: 64px;
}
.head-text p{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}
.head-text .far{
    font-size: 64px;
    color: aqua;
    line-height: 80px;
    opacity: 50%;
    cursor: pointer;
}
.head-text .far:hover{
    opacity: 100%;
}
.sponsar{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
}
.ser-details{
    display: flex;
    justify-content: space-around;
}